<div class="container mt-5">
  <h1 class="text-center mb-4">About Dog Breeds Explorer</h1>

  <p class="lead text-center">This project uses the Dog API to fetch and display dog breed information and images.</p>
  <p class="text-center">Data sources include the Dog API for breed names and images.</p>
  
  

  <div class="text-center mt-4">
    <img src="/assets/erd_diagram.png" alt="ERD Diagram" class="about-img" />
  </div>
</div>
